table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 1px solid black;
}
th, td {
    border: 3px 3PX solid black;
    padding: auto;
    margin: 0% auto;
    width: 100px;
}
tr:nth-child(even){
    background-color: rgb(197, 180, 180);
}
img {
    width: 40%;
    height: auto;
}
h1 {
    text-align: center;
    color: white;
}
header {
    background-color: rgb(59, 59, 243);
}
body {
    background-color: rgb(241, 247, 250);
}